<!DOCTYPE html>
<html lang="en">
  <head>
     {{>headerlinks}}
  </head>

  <body>
    
     {{>navbar}}
    <!-- main page -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main_header_right d-flex justify-content-center">
              <figure>
                <img
                  src="./images/bg.jpg"
                  alt="aman"
                  class="img-fluid"
                  title="aman Verman"
                />
              </figure>
            </div>
            <!-- right div -->
            <div class="col-md-5 col-12 main_header_left">
              <p>Welcome to the Weather App</p>
              <h1>
                I Am A <span>Mern Stack Devlover</span> 
              </h1>
              <a href="https://aman567441.github.io/AMAN-KUMAR/" ><button >About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->

    {{>footer}}
   
  </body>
</html>
