<!DOCTYPE html>
<html lang="en">
  <head>
     {{>headerlinks}}
  </head>

  <body>
    
     {{>navbar}}
    <!-- main page -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
            <!-- left div -->
            <div class="col-md-11 col-12 main_header_left align-items-center ">
              <figure>
                <img
                  src="./images/404.jpg"
                  alt="404"
                  class="img-fluid"
                  title="this is error" style="height: 350px;" width="400px" />
              </figure>
              <h1>{{errorMsg}}</h1>
              <a href="/" class="mb-5"><button>Go Back</button></a> 
            </div>
      
        </div>
      </div>
    </div>

    <!-- footer -->

    {{>footer}}
   
  </body>
</html>
